.articleheadings,
h1 {
  text-align: center;
  color: blue;
  font-family: "Courier New", Courier, monospace;
  background-color: aqua;
  max-width: 600px;
  width: 90%;
  border: 10px solid burlywood;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
table {
  width: 42%;
  border-collapse: collapse;
  background-color: cornflowerblue;
  border: 5px solid burlywood;
  margin-left: auto;
  margin-right: auto;
}
th,
td {
  border: 2px solid brown;
  padding: 5px;
  text-align: center;
  width: 50%;
}
ul {
  text-align: center;
  list-style-position: inside;
  padding: 0;
  justify-content: center;
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}
.nav-container {
  text-align: center;
  font-weight: bold;
}
.listlinks {
  font-weight: bold;
}
.listlinks li {
  display: inline-block;
  margin: 0 15px;
}
